%h2
  Profile
%hr

%h3.page-title Private Token

.reset-token
  = form_for @user, url: reset_private_token_profile_path, method: :put, html: { class: 'form-group row' }  do |f|
    %div
      %p.slead
        Your private token is used to access application resources without authentication. It can be used for the API.
        %span.text-danger
          Keep it secret!
      %p
        - if current_user.private_token
          = text_field_tag "token", current_user.private_token, class: "form-control"
        - else
          %span You don`t have one yet. Click generate to fix it.
      .form-actions
        - if current_user.private_token
          = f.submit 'Reset private token', data: { confirm: "Are you sure?" }, class: "btn btn-secondary"
        - else
          = f.submit 'Generate', class: "btn btn-secondary"
