- search_filter_text = params[:search_type] || 'Host URL'
.row.pb-2
  %h2.col-1
    Hosts
  .col-5
    .btn-group
      .btn-group
        = button_tag "Edition: #{edition_filter_text}",
          type: 'button',
          class: dropdown_button_class,
          data: { toggle: 'dropdown' }
        .dropdown-menu
          = link_to 'Edition: All', filter_params, class: dropdown_all_editions_option_class
          - UsageData::EDITIONS.each do |edition|
            = link_to "Edition: #{edition}", filter_params.merge(edition: edition), class: dropdown_edition_option_class(edition)
      = link_to 'Starred only', filter_params.merge(starred: true), class: starred_link_class
      = link_to 'Fortune companies only', filter_params.merge(fortune_rank: true), class: fortune_rank_link_class
      = link_to 'Download CSV', filter_params.merge(applied_filters, format: 'csv'), class: 'btn btn-outline-secondary'
  .col
    = form_for current_host_stats_path, method: :get, html: { class: 'form-inline float-right' } do
      .input-group
        = select_tag 'search_type',
          options_for_select(['Host URL', 'License MD5'], search_filter_text),
          class: 'border border-secondary custom-select'
        .input-group-append
          = search_field_tag :search, params[:search], class: 'form-control current_host_stats-search rounded-0'
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :starred, params[:starred] if params[:starred]
        = hidden_field_tag :fortune_rank, params[:fortune_rank] if params[:fortune_rank]
        = hidden_field_tag :edition, params[:edition] if params[:edition]
        .input-group-append
          = button_tag 'Search', class: 'btn btn-secondary'

%table.table.table-striped.hosts.pretty.small
  %thead
    %tr
      %th= search_sortable_column column: 'url', title: 'Host URL'
      %th= search_sortable_column column: 'active_users_count', title: 'Active User Count', default_order: 'desc'
      %th= search_sortable_column column: 'historical_max_users_count', default_order: 'desc'
      %th= search_sortable_column column: 'user_count', title: 'Licensed User Count', default_order: 'desc'
      %th= search_sortable_column column: 'version', default_order: 'desc'
      %th= search_sortable_column column: 'usage_data_recorded_at', title: 'Service Ping Last Checked On', default_order: 'desc'
      %th= search_sortable_column column: 'host_created_at', title: 'Created At', default_order: 'desc'
      %th Star
      %th Fortune Rank

  %tbody
    - @current_host_stats.each do |current_host_stat|
      %tr
        %td
          = link_to host_path(current_host_stat.host) do
            = current_host_stat.url
        %td= current_host_stat.active_users_count
        %td= current_host_stat.historical_max_users_count
        %td
          = licensed_user_count(current_host_stat)
          - if current_host_stat.usage_users
            %span{ class: license_usage_class(current_host_stat) }== (#{license_usage_users(current_host_stat)})
        %td= current_host_stat.version
        %td= current_host_stat.usage_data_recorded_at&.to_date
        %td= current_host_stat.host_created_at.to_date
        %td
          = form_for current_host_stat.host, url: host_path(current_host_stat.host), remote: true, html: { class: 'star-host' } do |f|
            = f.check_box :star, class: 'trigger-star', id: "host_star_#{current_host_stat.id}"
            = f.submit 'Save', class: 'submit'
        %td= current_host_stat.fortune_rank
%hr
= paginate @current_host_stats, theme: 'bootstrap4'
#{@current_host_stats.total_count} hosts with Usage Datum.

:javascript
  $(document).ready(function() {
    $('.trigger-star').on('click', function() {
      return $(this).parent().find('.submit').click();
    });

    $(".star-host").on("ajax:success", function() {
      return $(this).parent().effect("highlight");
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
