.row
  .col-12
    .card
      .card-header
        %h2
          Usage Statistics
        %p
          The statistics are calculated based on data received from both CE and EE instances that were active in the last 30 days.
          = link_to 'View totals by month and schedule pushes to Salesforce', months_usage_data_path, class: 'float-right'
      .card-body
        %table.table
          %tbody
            %tr
              %td
                CE hosts: #{number_with_delimiter(@instance_counts.fetch(UsageData::CE_EDITION).instances, delimiter: ' ')}
            - @instance_counts.each do |edition, counts|
              - next unless UsageData::EE_EDITIONS.include?(edition)

              %tr
                %td #{edition} licenses: #{number_with_delimiter(counts.licenses, delimiter: ' ')}
                %td Unique installations: #{number_with_delimiter(counts.instances, delimiter: ' ')} (avg: #{number_with_precision(counts.ratio, precision: 2, delimiter: ' ')})
        .col-6
          %table.table.table-striped
            %thead
              %tr
                %th name
                %th average
                %th per project
                %th per group
            %tbody
            - @usage_statistics.each do |metric, value|
              %tr
                %td= metric
                %td= number_with_precision(value, precision: 2, delimiter: ' ')
                %td= number_with_precision((value.to_f / @usage_statistics["projects"].to_f), precision: 2)
                %td= number_with_precision((value.to_f / @usage_statistics["groups"].to_f), precision: 2)
