%h1 Statistics

%p
  The system currently has:
%ul
  %li= "#{@counts[:hosts]} Host records"
  %li= "#{@counts[:current_host_stats]} CurrentHostStat records"
  %li= "#{@counts[:current_host_stats_with_host]} CurrentHostStat records with a Host relation"
  %li= "#{@counts[:current_host_stats_with_host_and_usage_datum]} CurrentHostStat records with a Host relation, and an associated usage datum"
