%h3
  Host:
  = link_to "http://#{@host.url}", rel: "noreferrer" do
    = @host.url

- if @host.fortune_ranked?
  %h5 Fortune Rank: #{@host.fortune_rank}

%div
  = form_for @host, url: host_path(@host), remote: true, html: { class: 'star-host' } do |f|
    .form-check
      = f.label :star do
        = f.check_box :star, class: 'trigger-star'
        Mark this host as starred
    = f.submit 'Save', class: 'submit'

%hr
%h4 Versions
%ul.column-list
  - @versions.each do |version|
    %li.mr-3
      = version
- if @usage_ping_data.present?
  .row
    .col-md-12
      %h4 Recent Service Ping Data
      %table.table.table-striped.pretty.w-auto.small
        %thead
          %tr
            %th License name
            %th License start
            %th License expires
            %th Recorded at
            %th Version
            %th Active Users
            %th Historical Max Users
            %th License Users Count
            %th Source IP
        %tbody
          - @usage_ping_data.each do |usage_ping|
            %tr
              %td
                = usage_ping.licensee_name
              %td
                = usage_ping.license_starts_at
              %td
                = usage_ping.license_expires_at
              %td
                = link_to usage_ping.recorded_at, usage_ping
              %td
                = usage_ping.version
              %td
                = usage_ping.active_user_count
              %td
                = usage_ping.historical_max_users
              %td
                = usage_ping.license_user_count
              %td
                = usage_ping.source_ip
  = paginate @usage_ping_data, theme: 'bootstrap4'

= link_to 'Back', current_host_stats_path, class: 'btn btn-secondary'

:javascript
  $(document).ready(function() {
    $('.trigger-star').on('click', function() {
      return $(this).parents('form').find('.submit').click();
    });

    $(".star-host").on("ajax:success", function() {
      return $(this).parent().effect("highlight");
    });
  });
