%nav
  %ul.pagination.justify-content-center
    %li.page-item
      = link_to_prev_page collection, 'Previous Page', class: 'page-link'
    %li.page-item
      = link_to_next_page collection, 'Next Page', class: 'page-link'
