%h2.pb-2
  Versions
  .float-right
    = link_to 'New Version', new_version_path, class: 'btn btn-secondary'

%table.table.table-striped
  %thead
    %tr
      %th Version
      %th Vulnerability Type
      %th Additional details
      %th Created at
      %th

  %tbody
    - @versions.each do |version|
      %tr
        %td= version.version
        - if version.not_vulnerable?
          %td
            No
        - else
          %td.alert-danger
            = version.vulnerability_type.titleize
        %td.w-50
          - if version.details.present?
            %div
              %button.btn.btn-link{type: "button", 'data-toggle' => "collapse",
               "data-target"=>"#collapseDetails_#{version.id}"} Details
            %div.pt-2.collapse{id: "collapseDetails_#{version.id}"}
              %div.card.card-body
                = sanitize version.details
        %td= version.created_at.to_s
        %td.text-right
          = link_to 'Edit', edit_version_path(version)
          \|
          = link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' }

%hr
= paginate @versions, theme: 'bootstrap4'
