.row
  %div{:class => !Rails.env.production? ? 'col-sm-6' : 'col-md-6 offset-md-3'}
    .card
      .card-header
        %h4 Sign in with GitLab
      .card-body
        = link_to "Sign in with GitLab", user_gitlab_omniauth_authorize_path, method: :post, class: 'btn btn-success btn-lg'

  - unless Rails.env.production?
    .col-sm-6
      .card
        .card-header
          %h4= t('.sign_in', :default => "Sign in")
        .card-body
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: "form-control"
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "off", class: "form-control"
            - if devise_mapping.rememberable?
              .form-check
                %label
                  = f.check_box :remember_me
                  = f.label :remember_me
            = f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-secondary"
