- if flash[:upload_failed]
  .alert.alert-danger{:style => "margin-top: 20px;"}
    %strong
      If there are problems with the manual upload:
    %ol{:style => "margin-top: 10px;"}
      %li Open a confidential issue in the <a href="https://gitlab.com/gitlab-org/security/version.gitlab.com">security fork of version app project.</a>
      %li Attach the JSON payload if possible.
      %li Tag `@gitlab-org/analytics-section/analytics-instrumentation` who will triage the issue.
      
%h1 Service usage data

%div
  = form_with url: usage_data_path do |f|
    .form-group
      = f.label :service_usage_data_file, 'Upload Service usage data file generated by your Gitlab instance'
      = f.file_field :service_usage_data_file, class: 'form-control-file', autofocus: 'autofocus', accept: 'application/json'
    %hr
    .form-group
      = f.submit 'Upload', class: 'btn btn-success'

%small The uploaded file is encrypted and sent using secure <a href="https://en.wikipedia.org/wiki/HTTP">HTTPS protocol</a>.<br />HTTPS creates a secure communication channel between the web browser and the server, and protects transmitted data against man-in-the-middle attacks.
