= render 'metrics/modal'

- if @usage_data&.ee?
  .row
    .col-12
      .last-ping-date.float-right== Data received at #{@usage_data.created_at}
      %h3= @usage_data.licensee_company || @usage_data.licensee_name
      %hr

      %p
        %span.title Licensee name:
        %span= @usage_data.licensee_name
      %p
        %span.title Licensee email:
        %span= @usage_data.licensee_email
      %p
        %span.title Licensee MD5:
        %span= @usage_data.license_md5
      %p
        %span.title Licensee SHA256:
        %span= @usage_data.license_sha256
      %p
        %span.title License will expire at
        %span= @usage_data.license_expires_at
      %p
        %span.title GitLab version:
        %span= @usage_data.version
      %p
        %span.title Trial?
        %span= license_trial_description(@usage_data.license_trial)
.row
  - if @usage_data
    .col-12
      .card
        .card-header
          %p
            %span.title Hostname:
            - if @usage_data.hostname.present?
              %span= @usage_data.hostname
            - else
              %span data not available
          %p
            %span.title UUID:
            - if @usage_data.uuid.present?
              %span= @usage_data.uuid
            - else
              %span data not available
          %p
            %span.title GitLab version:
            %span= @usage_data.version
          %p
            %span.title GitLab edition:
            - if @usage_data.edition.present?
              %span= @usage_data.edition.upcase
            - else
              %span data not available
          %p
            %span.title GitLab installation type:
            - if @usage_data.installation_type.present?
              %span= @usage_data.installation_type
            - else
              %span data not available
          %p
            %span.title Mattermost enabled:
            - if @usage_data.mattermost_enabled.present?
              %span= @usage_data.mattermost_enabled
            - else
              %span data not available
          %p
            %span.title Data received at:
            %span= @usage_data.created_at
        - convdev_index = @usage_data.conversational_development_index
        - if convdev_index
          .card-body
            .row
              .col-12
                %h3 Conversational Development Index
                %table.table.table-striped.pretty
                  %thead
                    %tr
                      %th
                      %th Boards
                      %th CI Pipelines
                      %th Deployments
                      %th Environments
                      %th Issues
                      %th Merge Requests
                      %th Milestones
                      %th Notes
                      %th Projects Prometheus
                      %th Service Desk Issues
                  %tbody
                    %tr
                      %td Leader
                      %td= convdev_index.leader_boards
                      %td= convdev_index.leader_ci_pipelines
                      %td= convdev_index.leader_deployments
                      %td= convdev_index.leader_environments
                      %td= convdev_index.leader_issues
                      %td= convdev_index.leader_merge_requests
                      %td= convdev_index.leader_milestones
                      %td= convdev_index.leader_notes
                      %td= convdev_index.leader_projects_prometheus_active
                      %td= convdev_index.leader_service_desk_issues
                    %tr
                      %td Instance
                      %td= convdev_index.instance_boards
                      %td= convdev_index.instance_ci_pipelines
                      %td= convdev_index.instance_deployments
                      %td= convdev_index.instance_environments
                      %td= convdev_index.instance_issues
                      %td= convdev_index.instance_merge_requests
                      %td= convdev_index.instance_milestones
                      %td= convdev_index.instance_notes
                      %td= convdev_index.instance_projects_prometheus_active
                      %td= convdev_index.instance_service_desk_issues
                    %tr
                      %td.title Percentage
                      %td #{convdev_index.percentage_boards.round(1)} %
                      %td #{convdev_index.percentage_ci_pipelines.round(1)} %
                      %td #{convdev_index.percentage_deployments.round(1)} %
                      %td #{convdev_index.percentage_environments.round(1)} %
                      %td #{convdev_index.percentage_issues.round(1)} %
                      %td #{convdev_index.percentage_merge_requests.round(1)} %
                      %td #{convdev_index.percentage_milestones.round(1)} %
                      %td #{convdev_index.percentage_notes.round(1)} %
                      %td #{convdev_index.percentage_projects_prometheus_active.round(1)} %
                      %td #{convdev_index.percentage_service_desk_issues.round(1)} %

        .card-body
          .row
            .col-12
              %h3 User count
              %hr

              %p
                %span.title Active User Count:
                %span= @usage_data.active_user_count
              %p
                %span.title License Restricted User Count:
                %span= @usage_data.license_user_count
                - if @usage_data.usage_users
                  %span{ class: license_usage_class(@usage_data) }== (#{license_usage_users(@usage_data)})
              %p
                %span.title Historical Max Users Count:
                %span= @usage_data.historical_max_users

              .users-chart-wrapper
                = line_chart(@usage_data.related_weekly_user_count_by_uuid)

            .col-12
              %h3 Usage Counts
              %hr

              - if @usage_data.stats.present?
                %p Each line in this service ping indicates the total number of objects in the database, per feature, since the introduction of said feature (`.count` method in Ruby). Deleted objects are not taken into account for the calculation.

                %table.table.table-striped
                  %thead
                    %tr
                      %th statistic
                      %th value
                      %th p. project
                      %th p. group
                  %tbody
                    - @usage_data.stats.each do |metric, counter|
                      %tr
                        %td= link_to metric,
                            metric_path(uuid: @usage_data.uuid, host_id: @usage_data.host_id, id: metric),
                            remote: true,
                            class: 'metric-modal'
                        %td= number_with_delimiter(counter, delimiter: ' ')
                        %td= number_with_precision((counter / @usage_data.stats["projects"].to_f), precision: 2)
                        %td= number_with_precision((counter / @usage_data.stats["groups"].to_f), precision: 2)

              - else
                %p
                  Usage data counts not available.

        .card-body
          .row
            .col-12
              %h3 Usage data json fields
              %hr
                %p below is raw data from each field entry
                %table.table.table-striped
                  %thead
                    %tr
                      %th column
                      %th value
                  %tbody
                    %tr
                      %td object_store
                      %td= @usage_data.object_store
                    %tr
                      %td topology
                      %td= @usage_data.topology
                    %tr
                      %td counts_weekly
                      %td= @usage_data.counts_weekly
                    %tr
                      %td counts_monthly
                      %td= @usage_data.counts_monthly
                    %tr
                      %td usage_activity_by_stage
                      %td= @usage_data.usage_activity_by_stage
                    %tr
                      %td usage_activity_by_stage_monthly
                      %td= @usage_data.usage_activity_by_stage_monthly

  - else
    .col-12
      %p
        Usage data not available.
