!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title GitLab - Versions
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = include_gon
  %body
    .navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %a.navbar-brand{ href: root_path } version.gitlab.com
        %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: '#navbarNav' }, 'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': 'Toggle navigation' }
          %span.navbar-toggler-icon

        #navbarNav.collapse.navbar-collapse
          - if current_user
            %ul.nav.navbar-nav
              = nav_link 'Versions', versions_path
              = nav_link 'Hosts', current_host_stats_path
              = nav_link 'Usage Statistics', metrics_path
              = nav_link 'Statistics', statistics_show_path
            %ul.nav.navbar-nav.ml-auto
              %li
                = link_to profile_path, class: 'nav-link' do
                  = current_user.email
              %li
                = link_to destroy_user_session_path, class: 'nav-link logout', method: :delete, title: 'Sign out' do
                  Logout
          - else
            %ul.nav.navbar-nav.ml-auto
              %li
                = link_to "Sign in with GitLab", user_gitlab_omniauth_authorize_path, method: :post
    .container-fluid.mt-3
      - if alert.present?
        .alert.alert-danger= alert
      - if notice.present?
        .alert.alert-info= notice
      = yield
